html, 
body{
    margin: 0;
    padding: 0;
}
.container-fluid{
    padding: 0;
}
img{
    max-width: 100%;
}
/* .subtitle-2,
.subtitle-3{
    text-align: center;
} */
/* SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES SERVICES */
.services{
    --text-color: #666666;
}
.section{
    padding: 50px 0;
}
.circulo{
    border-radius: 50%;
}
.description{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.text-color{
    color: var(--text-color);
}

/* OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK OUR-WORK */
.our-work{
    background-color: #1BBC9B;
}
.our-work .subtitle-2{
    color: #87F1DB;
}




















/* OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM OUR TEAM */

.our-team{
    background-color: #ED8783;
}
.our-team .subtitle-2,
.our-team .subtitle-3,
.our-team .subtitle-4{
    color: #9C514E;
}













/* RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS RECENT NEWS  */
.recent-news{
    background-color: #ECC232;
}

.news-article-1{
    background-color: #CB90E4;
}

.news-article-2{
    background-color: #E84C3D;
}
.news-article-3{
    background-color: #31415B;
}
.recent-news .subtitle-2{
    color: #F6E6B3; 
}








/* OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS OUR-CLIENTS  */
.our-clients{
    background-color: #CA8FE3;
}
.our-clients .subtitle-2{
    color: #FAEFFF;
}
















/* GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA GOT-IDEA  */
.got-idea{
    background-color: #31415B;
}
.got-idea .subtitle-2{
    color: #9DA9C3;
}
.btn-primary{
    background-color: #ED8783;
    border: #ED8783;
}
.btn-primary:hover{
    background-color: #9C514E;
    border: #9C514E;
}










.footer{
    background-color: #34495E;
}
.footer .subtitle-2{
    color: #8A949E;
}